.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Container{
    margin: auto;
    display: flex;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px;
}
    

.Results{
    background-color: rgb(57, 14, 211);
    border-radius: 10px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Your{
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 30px;
    
    
}
.Great{
    text-size-adjust: 30px;
    margin-top: 25px;
}
#summ{
    margin-left: 20px;
}

#circle{
    background-color:linear-gradient(0deg,transparent,rgba(44, 47, 216, 0.801));
    border-radius: 50%;
    width: 150px;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow:0px -270px 70px -100px; */
    box-shadow: 6px 10px 10px rgb(41, 9, 153);
    /* box-shadow: 0.5px 3px 1px; */
    align-items:center;
    
    
}
#percentage{
    /* margin: 30px; */
    font-size: medium;
    color: aliceblue;

}
.Great{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#paragraph{
    color: aliceblue;
    display: grid;
    margin-top: -10px;
}
.pg{
    display: flex;
    justify-content: center;
}
#great{
    color: aliceblue;
}

.React{
    background-color:pink;
    display: flex;
    margin-left: 10px;
    width: 220px;
    border-radius: 10px;
    /* gap:5px; */
    
}
#reaction{
    margin-left: 10px;
    font-weight: 300;
    color: rgb(214, 22, 22);
    font-weight: 700;
   
}
#eighty{
    margin-left: 70px;
}
.Memory{
    background-color:rgb(175, 174, 169);
    display: flex;
    margin-left: 10px;
    width: 220px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    
}
 #memory{
    margin-left: 2px;
    font-weight: 300;
    font-weight: 700;
    color: rgb(223, 209, 20);
} 
#number{
    margin-left: 70px;
}
#outof2{
    margin-left: -5px;
    padding-right: 5px;
}
/* #outof3{
    margin-left: -1px;
    padding-right: 10px;
} */
#sixty{
    margin-left: 5px;
    /* padding-right: 3px; */
}
#outof3{
        margin-left: -2px;
        padding-right: 5px; 
}


.icon{
    margin-left: 10px;
}

.Verbal{
    background-color:rgb(207, 194, 197);
    display: flex;
    margin-left: 10px;
    width: 220px;
    border-radius: 10px;
}
#verbal{
    margin-left: 10px;
    font-weight: 300;
    font-weight: 700;
    color: rgb(17, 160, 112);
}
#sixty{
    margin-left: 90px;
}
.Visual{
    background-color:rgb(214, 200, 211);
    display: flex;
    margin-left: 10px;
    width: 220px;
    border-radius: 10px;
}
#visual{
    margin-left: 10px;
    font-weight: 300;
    font-weight: 700;
    color: rgb(36, 36, 235);
}
#seventy{
    margin-left: 90px;
}
.React,.Memory,.Verbal,.Visual{
    display:flex;
    margin: 10;
}
.continue{
    margin-top: 30px;
    margin-left: 10px;
    background-color: black;
    border-radius: 30px;
    margin-right: 10px;
    height: 45px;
    width: 220px;
    
}
#text{
    margin-left: 80px;
    color: aliceblue;
    padding-top:13px;
}
.summdivs{
    margin:5%;
}
